
.app {
  margin: 15px;
  padding: 10px;

}



.app-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  gap: 30px;

}

.linkNode {
  display: inline-flex;
  border: solid 1px black;
  border-radius: 50%;
  background-color: bisque;
  height: 10vh;
  width: 100px;
  justify-content: center;
  align-items: center;



}

.btnContainer {
  display: block;

}

.btn {
  display: flex;
  color: blue;
}